*.class

out/
# Package Files #
*.war
*.ear
.classpath
.project
.settings
{{LOG_DIR}}
/target/
/.settings
/.classpath
/.project
/target
/test-output
/.idea
*.iml
*.DS_Store
dependency-reduced-pom.xml
flash2.html
item.nunjucks
resource.nunjucks
template.nunjucks
docs/flash2.html
docs/item.nunjucks
docs/resource.nunjucks
docs/template.nunjucks
